@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');
* {
    font-family: 'Short Stack', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: none;
    transition: all .2s linear;
}

.bckcolor {
    background: #d7bde2;
}

.navcolor {
    background: #ebdef0;
}

.hcolor {
    color: #6c3483;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    padding-right: 80px;
}

section {
    padding: 170px 9%;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    height: 100%;
}

header.active {
    left: 0%;
}

header .navbar {
    writing-mode: vertical-lr;
    padding: 25px;
}

header .navbar a {
    padding: 3px;
    font-size: 21px;
    color: #5d6d7e;
}

header .navbar a:hover {
    color: #6c3483;
}

#menu-bar {
    position: fixed;
    z-index: 10000;
    top: 15px;
    left: 15px;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 30px;
    display: none;
}

@media(max-width:991px) {
    html {
        font-size: 55%;
    }
    body {
        padding-right: 0;
    }
    header {
        width: 100%;
        left: -120%;
    }
    #menu-bar {
        display: initial;
    }
    header .navbar {
        writing-mode: horizontal-tb;
    }
    header .navbar a {
        display: block;
        font-size: 20px;
    }
}

@media(max-width:450px) {
    html {
        font-size: 45%;
    }
    body {
        margin: 0;
        padding: 0;
    }
    .home #bckg {
        margin: 0;
        width: 100%;
    }
}

.home {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home #bckg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('./img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home .content {
    text-align: left;
    position: relative;
    z-index: 1;
    padding-left: 300px;
}

.home .content img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #bb8fce;
}

.home .content h3 {
    color: white;
    font-size: 65px;
    text-transform: none;
}

.home .content p {
    color: black;
    font-size: 30px;
    line-height: 2;
}

.btn {
    width: 80px;
    height: 35px;
    margin: 2px;
    display: inline-block;
    background: #ebdef0;
    cursor: pointer;
}

.btn:hover {
    background: #9b59b6;
    letter-spacing: 3px;
}

.about .content h3 {
    font-size: 50px;
}

.info {
    padding: 10px 0;
    font-size: 25px;
    line-height: 2.5;
}

.about .content .box-container {
    margin-top: 50px;
    border: 2px dashed #9b59b6;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 15px;
    word-break: break-all;
}

.about .content .box-container .box {
    flex: 1 1 320px;
    word-break: break-all;
}

.about .content .box-container .box p {
    word-break: break-all;
    font-size: 20px;
    line-height: 2;
    padding: 10px 0;
}

.education h3 {
    font-size: 40px;
}

.education p {
    padding-top: 10px;
    font-size: 20px;
}

.skills .skills-bar {
    margin: auto;
    padding: 25px 30px;
    width: 90%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.skills .skills-bar .bar {
    margin: 20px 0;
    font-size: 25px;
}

.skills .skills-bar .bar:first-child {
    margin-top: 0;
}

.skills .skills-bar .bar .info {
    margin-bottom: 5px;
}

.skills .skills-bar .bar .progress-line {
    position: relative;
    height: 10px;
    width: 100%;
    background-color: #f0f0f0;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.skills .skills-bar .bar .progress-line span {
    height: 100%;
    width: 80%;
    border-radius: 15px;
    background-color: #6c3483;
    position: absolute;
}

.skills .skills-bar .bar .progress-line.html span::after {
    content: "95%";
}

.skills .skills-bar .bar .progress-line.css span::after {
    content: "90%";
}

.skills .skills-bar .bar .progress-line.bootstrap span::after {
    content: "90%";
}

.skills .skills-bar .bar .progress-line.sass span::after {
    content: "80%";
}

.skills .skills-bar .bar .progress-line.javascript span::after {
    content: "85%";
}

.skills .skills-bar .bar .progress-line.python span::after {
    content: "60%";
}

.skills .skills-bar .bar .progress-line.mysql span::after {
    content: "50%";
}

.skills .skills-bar .bar .progress-line.vue span::after {
    content: "60%";
}

.skills .skills-bar .bar .progress-line.git span::after {
    content: "80%";
}

.skills .skills-bar .bar .progress-line span::before {
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
}

.skills .skills-bar .bar .progress-line span::after {
    position: absolute;
    right: 0;
    top: -28px;
    color: #fff;
    font-size: 12px;
    background: #000;
    padding: 1px 8px;
    border-radius: 3px;
}

.skills .skills-bar .bar .progress-line.html span {
    width: 95%;
}

.skills .skills-bar .bar .progress-line.css span {
    width: 90%;
}

.skills .skills-bar .bar .progress-line.bootstrap span {
    width: 90%;
}

.skills .skills-bar .bar .progress-line.sass span {
    width: 80%;
}

.skills .skills-bar .bar .progress-line.javascript span {
    width: 85%;
}

.skills .skills-bar .bar .progress-line.python span {
    width: 60%;
}

.skills .skills-bar .bar .progress-line.mysql span {
    width: 50%;
}

.skills .skills-bar .bar .progress-line.vue span {
    width: 60%;
}

.skills .skills-bar .bar .progress-line.git span {
    width: 80%;
}

.workexperience {
    line-height: 2;
}

.workexperience h3 {
    font-size: 40px;
}

.workexperience h2 {
    font-size: 30px;
}

.workexperience p {
    font-size: 20px;
}

.contact .contact-form {
    margin: auto;
    width: 90%;
    padding: 25px 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.contact .contact-form h2 {
    font-size: 40px;
}

.contact .contact-form .input-box {
    position: relative;
    width: 100%;
    border-radius: 5px;
}

.contact .contact-form .input-box input,
.contact .contact-form .input-box textarea {
    width: 100%;
    border-radius: 5px;
    padding: 5px 0;
    margin: 10px 0;
    border-bottom: 2px solid #6c3483;
    resize: none;
}

.contact .contact-form .input-box span {
    position: absolute;
    font-size: 15px;
    left: 0;
    padding: 5px 5px;
    margin: 10px 0;
    pointer-events: none;
    color: #666;
}

.contact .contact-form .input-box input:focus~span,
.contact .contact-form .input-box input:valid~span,
.contact .contact-form .input-box textarea:focus~span,
.contact .contact-form .input-box textarea:valid~span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-22px);
}

.heading {
    font-size: 45px !important;
    color: #5270c5 !important;
}